.sidebar-footer-container {
    margin: 10px;
    text-align: center;
}





.viewport-container {
    display: grid;
    grid-template-areas: 'titleArea upperPanelArea SidePanelArea contentArea';
}

.title-area {
    grid-area: titleArea;
    width: 20%;
}

.title-area {
    grid-area: upperPanelArea;
    width: 80%;
}


//@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');
body{
    font-size: 100%;
}

li {
    list-style: none;
}

.link-button {
    width: 200px;
}

.link-button a {
    padding: 10px 15px;
    background-color: #1c2733;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: block;
}

.link-button a:hover {
    background-color: #6785a3;
}

.link-basic {
    color: rgb(255, 255, 255); /* Changed to black */
    text-decoration: none;
}

.link-basic:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: rgb(86, 132, 151);
}

a:hover {
    text-decoration: none;
    color: white;
}

h1{
    /*font-weight: bold;*/
    margin-bottom: 50px;
    font-family: 'M PLUS 1p', sans-serif;
}

.table-responsive {
    height: calc(100vh - 280px); /*610px; /* Set the desired height */
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: none; /* For Firefox */
}

.table-responsive::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.custom-thead th {
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick to the top */
    z-index: 1; /* Ensure it stays above the table body */
    background-color: #5d6d7e; /* Set background color */
    /*font-size: 1.25rem; /* Increase font size for headers */
    /*font-weight: bold; /* Make the font bold */
    padding: 15px; /* Increase padding for headers */
    /*width: 150px; /* Set a specific width for header cells */
    /*height: 95px;*/
    color:  white;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: white;
    background-image: url('');
    background-size: cover;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    background-color:  #1c2733;
    display: flex;
    flex-direction: column;
}

#sidebar.collapsed {
    margin-left: -264px;
}

.toggler-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.toggler-btn i {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.navbar {
    padding: 1.15rem 1.5rem;
}

.sidebar-nav {
    flex: 1 1 auto;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
    text-align: center;
}

.sidebar-logo a {
    color: white;
    font-weight: 800;
    font-size: 1.25rem;
}

.sidebar-header {
    color: white;
    font-size: 0.75rem;
    padding: 1.5rem 0.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: white;
    position: relative;
    transition: all 0.35s;
    display: block;
}

a.sidebar-link:hover {
    background-color: #f9f6f630;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 0.75rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

@media (max-width:768px) {
    .sidebar-toggle {
        margin-left: -264px;
    }

    #sidebar.collapsed {
        margin-left: 0;
    }
}


#auth li {
    padding: 0rem 2.5rem 0rem;
    font-size: 75%;
}

label {
    display: inline-block; /* Allows width to be set */
    width: 150px; /* Set a fixed width */
    font-size: 16px; /* Adjust font size */
    margin: 5px 0; /* Spacing between labels */
}

.custom-bg {
    background-image: url('background.jpg');
    padding: 20px; /* Optional: Add some padding */
    background-size: cover;
}

.alert-warning {
    font-size: 5.0rm;
}

.pagination li a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: white;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination li.active a {
    z-index: 1;
    color: #fff;
    background-color: #5d6d7e;
    border-color: #5d6d7e;
    border-radius: 25%;
}

.mail-span {
    font-size: 75%;
    color: blue;
}

.title-space {
    margin-bottom: 30px; /* Space between the elements */
}

.szukaj-space {
    /*display: flex;
    /*justify-content: space-between;*/
    margin-bottom: 10px; /* Space between the elements */
}

.logout-btn {
    margin: 20px 20px;
}

.scrollable-div {
    height: 20px;
    overflow-y: auto;
}

.user-name {
    font-family: 'Lexend', sans-serif;
    color: rgb(34, 128, 151);
}

.logged-user {
    font-family: 'Lexend', sans-serif;
    color: white;
}

.date-logo {
    color: white;
    font-weight: 800;
    font-size: 1.25rem;
    font-family: 'M PLUS 1p', sans-serif;
}

.welcome-bar {
    background-color: #5d6d7e;/*#6c757d;*/
    /* background-image: url('your-image-url.jpg'); */
    /*background-size: cover; /* Uncomment if you use a background image */
    /*background-repeat: no-repeat; /* Uncomment if you use a background image */
    margin: 0;
}
