.appTitle {
  font-weight: bold;
  font-size: 2em;
}

.container-buttons {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;
}

.capitalize {
  text-transform: capitalize;
}

.pull-left{
  float: left !important;
}

#diagram-job-positions-container {
  position: relative;
  overflow: auto;
  text-align: center;
  background: #fff !important;
}

.chart-container {
  width: 100%;
  height: 100%;
}

.orgchart {
  background: #fff !important;
}

.orgchart .hierarchy::before,
.orgchart .hierarchy::after {
  border-top: 1px solid #000 !important;
}

.orgchart .node:before,
.orgchart .node:after {
  background: #000 !important;
}

.orgchart .edge {
  display: none;
}